/*基礎設定*/
body, html {
	margin: 0;
	padding: 0;
}

section {
	margin: 3em 0; 
}

h1, h2, h3, h4 {
	margin: 0;
	font-family: serif,PMingLiU;
	line-height: 1.5em;
}

h2 {
	font-size: calc(2.8em + 120%);
	letter-spacing: .5rem;
}

h3 {
	font-size: calc(1.5em + 80%);
	letter-spacing: .5rem;	
}

h4 {
	font-size: 1.7em;
}

h5 {
	font-size: 1.5em;
	color: #2e31b4;
}

p {
	font-size: 18px;
	line-height: 2em;
	text-align: justify;
}

ul {
	list-style-type:none;
	padding: 0;
}

a {
	text-decoration: none
}

.subtitle, .article-title, .thanks-container{
	text-shadow: 3px 3px 10px hsla(100,0%,5%,1);
	color: #FFFFFF;
}

.progress-bar {
	width: 100vw;
	background: hsla(100,0%,30%,.8);
	color: #FFFFFF;
	display: flex;
	justify-content: center;  /*把進度條的內容橫向置中*/
	position: fixed;
	z-index: 10;
}

.progress-container {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;          /*把進度條中的內容垂直置中*/
}

.progress-items {
	width: 5em;
	display: flex;
	justify-content: space-around;
}

.progress-item {
	width: 10px;
	height: 10px;
	border: 1px solid #FFFFFF;
	border-radius: 50%;
}

.progress-item-focus {
	background: hsla(100,0%,100%,1);
}

.article-title-bgn {
	background: url('img/cat-1.jpg');
	display: flex;
	justify-content: center;
}

.article-title {
	padding: 12em 0;
	text-align: center;
}

.parrallax-container-1 {
	background: url('img/plant.jpg');
	height: 70vh;
	background-attachment: fixed;
}

.subtitle {
	text-align: center;
	padding: 25vh 5%;
}

.subtitle p {
	text-align: center;
	font-size: 2rem;
}

.article-container {
	display: flex;
	justify-content: center;
	background: #FFFFFF; 
}

.article-content {
	padding: 2em 1.5em;
	background: hsla(100,0%,100%,.8);
}

/*另一種視差背景範例*/
.parallax-example {
	perspective: 1px;
	height: 250px;
	border: 1px solid hsla(100,0%,70%,1);
  	overflow-x: hidden;
  	overflow-y: auto;
}

.parallax {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 33.3%;
}

.parallax-back {
	transform: translateZ(-1px);
	height: 300px;
	padding: 50px;
}

.parallax-front {
	transform: translateZ(0);
	height: 300px;
  	padding: 50px; 
}

/*連換三個背景圖*/
.change-img-bgn-1 {
	background: url('img/cat-2-1.jpg');
	height: 60vh;
	background-attachment: fixed;
}

.change-img-bgn-2 {
	background: url('img/cat-2-2.jpg');
	height: 60vh;
	background-attachment: fixed;
}

.change-img-bgn-3 {
	background: url('img/cat-2.jpg');
	height: 60vh;
	background-attachment: fixed;
}

/*CSS的小樣式*/
.shadow {
	padding: 2.5em 0;
	box-shadow: .6em 0em 35px 15px hsla(100,0%,10%,.3);
}

.css-works {
	margin: 0 2.5em;
	padding: 0 10%;
	padding-bottom: 2.5em;
	position: relative;
	z-index: 2;
}

.css-work-container {
	display: flex;
	justify-content: space-between;
}

.work-item-size {
	width: 30%;
	height: 15rem;
	margin-top: 2em;
}

.work-item-style-1 {
	background: linear-gradient(#fdb8ed 50%, #fede6f 50%);
	background-size: 100% 50px;
}

.work-item-style-2 {
	background: linear-gradient(45deg, #fdb8ed 25%, #fede6f 0%, #fede6f 50%, #fdb8ed 0%, #fdb8ed 75%,#fede6f 0%);
	background-size: 70px 70px;
}

.work-item-style-3 {
	background: linear-gradient(to right, #fdb8ed 50%, #fede6f 50%);
	background-size: 51px 100%;
}

/*感謝閱讀區塊的CSS*/
.parrallax-container-3 {
	background: url('img/panorama.jpg');
	height: 60vh;
	background-attachment: fixed;
	display: flex;
	align-items:center;	
}

.thanks-container {
	width: 60%;
	margin-left: 20%;
	display: flex;
	justify-content: center;
}

/*六邊型圖片css*/
.work-item-size-square {
	width: 100px;
	height: 100px;
}

.octagon {
	transform: rotate(45deg);
	overflow: hidden;
}

.octagon>img {
	max-width: 100%;
	transform: rotate(-45deg);
}

@media screen and (max-width:575px) {
/*小網內容應該是直向的*/	
	.article-container {
		flex-direction:column;
	}

	.article-title {
		width: 80%;
	}

	.article-title-bgn {
		background-position: 30% 43%;
	}

/*	3D思維的視差捲動頁面範例，內容置中*/
	.parallax {
		left: 10%;
	}

	.change-img-bgn-1{
		background-size: cover;
		background-position: 30%;
	}

	.change-img-bgn-2 {
		background-size: cover;
		background-position: 30%;
	}
	
	.change-img-bgn-3 {
		background-size: cover;
		background-position: 30%;
	}

	.css-works {
		padding: 2em 1.5em;
		margin: 0 0em;
	}

	.css-work-container {
		flex-direction: column;
	}

	.work-item-size {
		width: 100%;
	}

	.description {
		padding: 2em 1.5em; 
		display: flex;
		flex-direction:column;
	}

	.octagon-container {
		display: flex;
		justify-content: center;
	}
}

@media screen and (min-width:576px) and (max-width:945px) {
	.article-title-bgn {
		background-position: 10% 60%;
	}

	.article-content {
		width: 80%;
	}

	.description {
		width: 80%;
		margin-left: 10%;
		display: flex;
		flex-direction:column;
	}

	.octagon-container {
		display: flex;
		justify-content: center;
	}

	.css-works {
		padding: 0;
	}
}

@media screen and (min-width:946px) {
	.article-title-bgn {
		background-position: 60% 70%;
	}

	.article-title {
		width: 33.3%;
	}

	.parrallax-container-2 {
		background: url('img/cat-5.jpg');
		height: 140vh;
		background-attachment: fixed;
	}

	.article-content {
		width: 45%;
	}

	.article-text {
		width: 80%;
		margin-left: 1.5em;
	}

	.description {
		width: 50%;
		margin-left: 25%; 
		padding: 2em 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.css-work-container {
		justify-content: space-between;
	}
}

